#file {
  display: none;
}

table.mat-table,
.mat-paginator {
  width: 92vw;
}

.pdf {
  width: 50px;
}

.render-result{
  width: 40vw;
}

.pdf-extension-logo{
  background-image: url(../../pdf.ico);
  background-size: cover;
}