.menu-button {
  margin-top: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.menu-button {
  color: #e6f0f3;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 64px;
  background-color: #002140;
  color: #fcf7f0;
}
